#vienxam{
	background-color:#1d2023;
}

#vien{
	background-color: black;
}

#vienda{
	background-color: antiquewhite;
}
.khungvien{
	margin: 50px;
	background: black;
	border-radius: 4px;
}

input{
	margin: 3px;
	margin-right: 0px;
}

button{
	margin: 3px;
	margin-left: 0px;
}

#ava{
	margin-top: 0px;
	border-radius: 50%;
}

.col-md-2-2{
	height: 40px;
}

.dn{
	margin-top: 5px;
    display: block;
}

#cart{
	margin-top: 5px;
	border-radius: 50%;
}

.font1{
	font-size: 18px;
	color: #ff6666;
	font-family: Times New Roman, Georgia, Serif;
	font-weight: 5px;
	margin-left: 3px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 20px;
}

.font2{
	font-size: 16px;
	color: pink;
	font-family: Times New Roman, Georgia, Serif;
	font-weight: 5px;
	margin-left: 10px;
}

.checkbox{
	margin-left: 35px;
}

.radio{
	margin-left: 35px;
}

.font3{
	font-size: 15px;
	color: white;
	font-family: Times New Roman, Georgia, Serif;
	font-weight: 3px;
}

.bt1{
	background-color: pink;
	font-size: 16px;
	padding-top: 10px;
	padding-left: 14px;
	color: black;
	font-family: Times New Roman, Georgia, Serif;
	font-weight: 3px;
	margin-left: 90px;
}

.font4{
	font-size: 30px;
	color: #001a66;
	font-family: Times New Roman, Georgia, Serif;
	font-weight: 20px;
	margin-left: 3px;
	background-color: white;
	background-color: antiquewhite;
}

.font5{
	font-size: 18px;
	color: black;
	font-family: Times New Roman, Georgia, Serif;
	font-weight: 30px;
	margin-bottom: 0px;
	background-color: white;
	padding-left: 3px;
}

.font6{
	font-size: 16px;
	color: red;
	font-family: Times New Roman, Georgia, Serif;
	font-weight: 30px;
	margin-top: 0px;
	background-color: white;
	padding-left: 3px;
}

.font7{
	font-size: 16px;
	color: white;
	padding-top: 25px;
	font-family: Times New Roman, Georgia, Serif;
	margin-left: 1px;
}

.font8{
	font-size: 60px;
	color: pink;
	font-family: Times New Roman, Georgia, Serif;
	text-align: center
}

#font9{
	font-size: 22px;
	color: pink;
	font-family: Times New Roman, Georgia, Serif;
	text-align: center;
	padding-right: 10px;
}

#font10{
	font-size: 22px;
	color: pink;
	font-family: Times New Roman, Georgia, Serif;
	text-align: center;
	padding-right: 0px;
}

.font11{
	font-size: 20px;
	padding-left: 23px;
}

.sony{
	padding-top: 2px;
}

#text{
	padding-left: 10px;
}

#search{
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
	padding-right: 4px;
}

#button{
	margin-left: 0px;
	padding-left: 4px;
}

#login{
	padding-left: 0px;
}

.bt2{
	background-color: pink;
	font-size: 18px;
	padding-top: 10px;
	padding-left: 14px;
	color: black;
	font-family: Times New Roman, Georgia, Serif;
	font-weight: 5px;
	margin-left: 52px;
}

#khung2{
	margin-bottom: 15%;
}